
@font-face {
    font-family: 'BrandonGrotesque-Regular';
    src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.eot');
    src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.woff2') format('woff2'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.woff') format('woff'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.ttf') format('truetype'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Medium';
    src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Medium.eot');
    src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Medium.woff2') format('woff2'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Medium.woff') format('woff'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Medium.ttf') format('truetype'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Bold';
    src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Bold.eot');
    src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Bold.woff2') format('woff2'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Bold.woff') format('woff'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Bold.ttf') format('truetype'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg'),
    url('../fonts/BrandonGrotesque/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-Medium';
    src: url('../fonts/AvenirNext/AvenirNext-Medium.eot');
    src: url('../fonts/AvenirNext/AvenirNext-Medium.woff2') format('woff2'),
    url('../fonts/AvenirNext/AvenirNext-Medium.woff') format('woff'),
    url('../fonts/AvenirNext/AvenirNext-Medium.ttf') format('truetype'),
    url('../fonts/AvenirNext/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg'),
    url('../fonts/AvenirNext/AvenirNext-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-DemiBold';
    src: url('../fonts/AvenirNext/AvenirNext-DemiBold.eot');
    src: url('../fonts/AvenirNext/AvenirNext-DemiBold.woff2') format('woff2'),
    url('../fonts/AvenirNext/AvenirNext-DemiBold.woff') format('woff'),
    url('../fonts/AvenirNext/AvenirNext-DemiBold.ttf') format('truetype'),
    url('../fonts/AvenirNext/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg'),
    url('../fonts/AvenirNext/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'polymed-3d-icons';
    src: url('../fonts/polymed-3d-icons/polymed-3d-icons.eot?81050233');
    src: url('../fonts/polymed-3d-icons/polymed-3d-icons.eot?81050233#iefix') format('embedded-opentype'),
    url('../fonts/polymed-3d-icons/polymed-3d-icons.woff2?81050233') format('woff2'),
    url('../fonts/polymed-3d-icons/polymed-3d-icons.woff?81050233') format('woff'),
    url('../fonts/polymed-3d-icons/polymed-3d-icons.ttf?81050233') format('truetype'),
    url('../fonts/polymed-3d-icons/polymed-3d-icons.svg?81050233#polymed-3d-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "polymed-3d-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play:before { content: '\e801'; } /* '' */
.icon-shopping-cart:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */



body {
    padding: 0;
    margin: 0;
    font-family: 'BrandonGrotesque-Regular';
    font-size: 18px;
    color: #363838;
    background-color: #fff;
    padding-bottom: 20px;
}


.purple-btn-block {
    text-align: center;
    width: 100%;
}
.purple-btn {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'BrandonGrotesque-Medium';
    font-weight: 500;
    text-transform: uppercase;
    background-color: #822BCD;
    font-size: 18px;
    line-height: 18px;
    padding: 16px 20px;
    min-width: 220px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

.youtube {
    margin: 0 auto;
    position: relative;
    background-position: center center;
    background-size: auto;
}

.youtube .play {
    background-color: #fff;
    border-radius: 100%;
    display: block;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}

.youtube .play::before {
    position: absolute;
    content: '\e801';
    color: #474747;
    top: 50%;
    left: calc(50% + 3px);
    transform: translate(-50%, -50%);
    font-family: 'polymed-3d-icons';
    font-size: 27px;
}

.centered-container {
    display: block;
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #EDEFF3;
    padding-bottom: 40px;
}

header {
    display: block;
    max-width: 1024px;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

header .header-main {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.main-logo {
    display: inline-block;
    margin-right: 30px;
}

#menu-main_navigation,
#primary-navigation {
    display: inline-block;
    padding: 0;
}

#menu-main_navigation > li.menu-item {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

#menu-main_navigation > li.menu-item:first-child {
    margin-left: 0;
}

#menu-main_navigation > li.menu-item:last-child {
    margin-right: 0;
}

#menu-main_navigation > li.menu-item a,
.cart-link {
    color: #292929;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.cart-link {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
}

.cart-link .icon-shopping-cart {
    font-size: 24px;
    vertical-align: middle;
}


footer {
    display: block;
    background-color: #2F3131;
    max-width: 984px;
    margin: 0 auto;
    color: #ffffff;
    padding: 40px 20px 20px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-family: 'BrandonGrotesque-Medium';
}

footer a {
    color: #ffffff;
}

footer .logo-info-block {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
}

footer .contact-block {
    display: inline-block;
    vertical-align: top;
}

footer .contact-block .header {
    color: #FFFFFF;
    font-family: 'BrandonGrotesque-Bold';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 26px;
}

footer .contact-block ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

footer .contact-block ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

footer .contact-block ul.contact-info {
    margin-right: 40px;
}

footer .menu-footer_menu-container {
    display: inline-block;
    vertical-align: top;
}

#menu-footer_menu li {
    margin-bottom: 10px;
}


#menu-footer_menu li:last-child {
    margin-bottom: 0;
}

footer .social-block {
    display: inline-block;
    vertical-align: top;
    float: right;
}

footer .social-block .socials-icons {
    display: inline-block;
    text-align: right;
}

footer .social-block .socials-icons ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

footer .social-block .socials-icons ul li:first-child {
    margin-left: 0;
}

footer .social-block .socials-icons ul li:last-child {
    margin-right: 0;
}

footer .social-block .socials-icons ul li a {
    font-size: 34px;
}


.main-top-banner-wrapper {
    position: relative;
    max-width: 1024px;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

.main-top-banner-wrapper .img-block img {
    display: block;
    max-width: 100%;
    width: 100%;
    max-height: 600px;
}

.main-top-banner-wrapper .content-block {
    position: absolute;
    top: 40px;
    max-width: 600px;
    left: 40px;
}

.main-top-banner-wrapper .content-block .header {
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    color: #fff;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.main-top-banner-wrapper .content-block .text {
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-size: 18px;
    font-family: 'BrandonGrotesque-Medium';
    line-height: 24px;
}

.main-top-banner-wrapper .purple-btn-block .purple-btn {
    width: 100%;
    text-decoration: underline;
}

.header-content-general {
    display: block;
    margin: 0 auto;
    padding: 40px 0 20px 0;
    width: 100%;
    max-width: 652px;
    color: #222222;
    font-family: 'BrandonGrotesque-Regular';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.text-content-general {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 944px;
    color: #363838;
    font-size: 18px;
    font-family: 'BrandonGrotesque-Medium';
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.text-content-general a {
    color: #363838;
    font-family: 'BrandonGrotesque-Medium';
}

.what_we_provide-wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.what_we_provide-wrapper .item {
    background-color: #474747;
    display: inline-block;
    width: 33.3333%;
    max-width: 301px;
    padding-top: 39.5px;
    min-height: 320px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0.8%;
}

.what_we_provide-wrapper .item:first-child {
    margin-left: 0;
}

.what_we_provide-wrapper .item:last-child {
    margin-right: 0;
}

.what_we_provide-wrapper .item .image {
    display: block;
    margin: 0 auto;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    margin-bottom: 19.5px;
}

.what_we_provide-wrapper .item .image img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.what_we_provide-wrapper .item .header {
    max-width: 208px;
    width: 100%;
    color: #FFFFFF;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.what_we_provide-wrapper .item .description {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 244px;
    width: 100%;
    color: #FFFFFF;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.vertically-integrated .video-block {
    background-color: #fff;
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.printing-services {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.printing-services .left-side,
.printing-services .right-side {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    float: left;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.printing-services .left-side img {
    max-width: 100%;
    height: 100%;
}

.printing-services .right-side {
    background-color: #D9CBF3;
    padding: 0 20px 20px 20px;
    position: relative;
}

.printing-services .header-content-general {
    color: #292929;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'BrandonGrotesque-Medium';
}

.printing-services .text-content-general {
    font-size: 18px;
    line-height: 24px;
    color: #363838;
    font-family: 'BrandonGrotesque-Regular';
    font-weight: 400;
}

.printing-services .right-side img {
    margin-bottom: 29.5px;
}

.printing-services .right-side .see-services-link {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

}

.filaments-wrapper-items{
    background-color: #fff;
    padding: 40px 20px;
}

.filaments-wrapper-items .first-item-block {
    text-align: center;
    width: 100%;
}

.filaments-wrapper-items .first-item-block .img-block,
.filaments-wrapper-items .first-item-block .content-block,
.filaments-wrapper-items .first-item-block .content-block .content-item,
.filaments-wrapper-items .first-item-block .content-block .content-item .circle,
.filaments-wrapper-items .first-item-block .content-block .content-item .text {
    display: inline-block;
    vertical-align: top;
}

.filaments-wrapper-items .first-item-block .content-block .content-item .circle {
    position: relative;
    margin: 10px 16px 0 15px;
    color: #363838;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    min-height: 31px;
    min-width: 31px;
    padding: 2.5px 2.5px;
    border: 1px solid #9A00F2;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.filaments-wrapper-items .first-item-block .content-block .content-item .circle::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 16px;
    right: -16px;
    top: 15px;
    background-color: #9A00F2;
    display: block;
}

.filaments-wrapper-items .first-item-block .content-block .content-item .text {
    max-width: 292px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    font-family: 'BrandonGrotesque-Medium';
    text-align: left;
    color: #222222;
    margin: 0;
    margin-left: -5px;
    border: 1px solid #9A00F2;
    padding: 10px 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.filaments-wrapper-items .third-item-block {
    margin-top: 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filaments-wrapper-items .third-item-block .item {
    max-width: 364px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.filaments-wrapper-items .third-item-block .item img {
    max-width: 100%;
}

.filaments-wrapper-items .third-item-block .item .text {
    text-align: left;
    color: #222222;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 11px;
}

.printing-materials-goods-wrapper .text-content-general {
    max-width: 860px;
}

.design-service-process-wrapper {
    position: relative;
    background-color: #fff;
    padding: 30px 45px;
    box-sizing: border-box;
}

.design-service-process-wrapper .middle-elements {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
}

.design-service-process-wrapper .middle-elements .item-block {
    display: block;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: url('../images/radial-decoration.png');
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center center;
    background-size: 100% 100%;
    margin: 0 auto;
    text-align: center;
}

.design-service-process-wrapper .middle-elements .item-block img {
    max-width: 320px;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.design-service-process-wrapper .title-header {
    color: #2F3131;
    font-family: 'AvenirNext-DemiBold';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    width: 100%;
    max-width: 270px;
    margin: 0;
    text-transform: uppercase;
}

.design-service-process-wrapper .middle-elements .item-block .title-header {
    position: absolute;
    top: calc(50% + 104px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.design-service-process-wrapper .top-elements,
.design-service-process-wrapper .bottom-elements {
    position: relative;
    text-align: center;
    height: 443px;
    display: block;
    margin-bottom: 44px;
}

.design-service-process-wrapper .top-elements .item-block,
.design-service-process-wrapper .bottom-elements .item-block {
    display: inline-block;
    height: 170px;
    width: 170px;
    position: relative;
}

.design-service-process-wrapper .bottom-elements {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    margin-bottom: 0;
}

.design-service-process-wrapper .top-elements .item-block.second {
    position: absolute;
    left: 130px;
    top: 76px;
}

.design-service-process-wrapper .top-elements .item-block.fourth {
    position: absolute;
    right: 130px;
    top: 76px;
}

.design-service-process-wrapper .bottom-elements .item-block.second {
    position: absolute;
    left: 136px;
    bottom: 72px;
}

.design-service-process-wrapper .bottom-elements .item-block.fourth {
    position: absolute;
    right: 136px;
    bottom: 72px;
}

.design-service-process-wrapper .top-elements .item-block.first,
.design-service-process-wrapper .top-elements .item-block.last {
    position: absolute;
    bottom: 0;
}

.design-service-process-wrapper .bottom-elements .item-block.first,
.design-service-process-wrapper .bottom-elements .item-block.last {
    position: absolute;
    top: 0;
}

.design-service-process-wrapper .top-elements .item-block.first {
    left: 0;
}

.design-service-process-wrapper .top-elements .item-block.first::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-image: url('../images/arrow-top-first.png');
}

.design-service-process-wrapper .bottom-elements .item-block.first {
    left: 4px;
}

.design-service-process-wrapper .top-elements .item-block.last {
    right: 0;
}

.design-service-process-wrapper .bottom-elements .item-block.last {
    right: 4px;
}

.design-service-process-wrapper .top-elements .item-block img,
.design-service-process-wrapper .bottom-elements .item-block img {
    z-index: 5;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
}

.design-service-process-wrapper .top-elements .item-block::after,
.design-service-process-wrapper .bottom-elements .item-block::after {
    position: absolute;
    content: '';
    background-position: center center;
    width: 66px;
    height: 66px;
    z-index: 1;
    background-repeat: no-repeat;
}

.design-service-process-wrapper .top-elements .item-block.first::after {
    background-image: url(../images/arrow-top-first.png);
    transform: rotate(5deg);
    top: -7px;
    right: 0;
}

.design-service-process-wrapper .top-elements .item-block.second::after {
    background-image: url(../images/arrow-top-second.png);
    top: 8px;
    right: -17px;
}

.design-service-process-wrapper .top-elements .item-block.third::after {
    background-image: url(../images/arrow-top-third.png);
    top: 73px;
    right: -32px;
}

.design-service-process-wrapper .top-elements .item-block.fourth::after {
    background-image: url(../images/arrow-top-fourth.png);
    top: 115px;
    right: -3px;
}
